body {
	height: 2000px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: $normal_text_color;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	color: $heading1_color;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	color: $heading1_color;
}

h3 {
	font-size: 24px;
	font-weight: 700;
	color: $heading2_color;
}

.info_section {
	padding: 65px 0;

	text-align: center;

	h1 {
		text-transform: capitalize;
	}
}

.primary{
    color: #e74c3c;
}

.primary_bg{
    background-color: #e74c3c;
}

// .secondary-dark-blue
// {
//     color: #34495e;
// }

.secondary-dark-blue-bg
{
    background-color: $dark_grey_bg_color;
}

// .secondary-sky-blue
// {
//     color: #2d82d8;
// }

.secondary_sky_blue_bg
{
    background-color: #2d82d8;
}